.keyword {
	color: #ff6722;
	font-weight: bold;
}

.function-call {
	color: #15a0e3;
}

.number {
	color: #d28600;
}

.quoted {
	color: #0ab000;
	font-style: italic;
}

.primitive {
	color: #9074a7;
}